---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>

<Layout>
  <article class="grid gap-8 @container">
    <div class="relative w-full @md:w-1/2 @3xl:w-1/4 rounded-md">
      {
        heroImage && (
          <Image
            alt={title}
            width={900}
            height={450}
            src={heroImage}
            class="object-cover w-full h-auto lg:h-[65vh] rounded-md"
          />
        )
      }
    </div>
    <div class="w-full grid gap-8">
      <div class="flex gap-8 items-center rounded-md">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }

        <h1 class="font-bold text-2xl @lg:text-4xl">{title}</h1>
      </div>
      <slot />
    </div>
  </article>
</Layout>
